<div class=" " >
	<h1>WELCOME!</h1>
	<p>Welcome to URL shortner this is platform provide you short url based on your long length your and you can use this short url any whare also this platform provide more information about your url like how many client visite your web or search happend?</p>
  <p><%= name %></p>
  <ul>
  <% programming.forEach(value =>{ %>
	<li><%= value %></li>
  <% }) %>
  <
	</ul>
  </div>