<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="background-blue-1">

<style>
  .section-1{
    margin-top: 10rem;
    text-align: center;
    display: flex;
    justify-content: center;
    width: auto;
    margin-left: 5rem;
  }
  .h1-top-heading-project{
    color: rgb(0, 242, 255);
    font-size: 3.5rem;
  }
  .h2-top-heading-project{
    color: white;
  }
  .web-support-icon{
    border-radius: 50px;
  }
  .main-web-icon-d{
    display: flex;
  }
  .img-web-icon-round{
    border-radius: 50px;
    box-shadow: 2px 1px 19px 11px #010163;
  }
  .img-web-icon-round :hover{
    box-shadow: 2px 1px 30px 20px #ff6a00;
  }
</style>

<header class="header-mx-20">
  <%- include('../partials/header'); %>
</header>

<section class="section-1 container" >
  <div class=" mx-3" style="display: flex; " >
     <div  style="text-align: left;">
      <h1 class="h1-top-heading-project"><b>WELCOME TO LINK, SIMPLIFIED.</b></h1>
      <h1 class="h2-top-heading-project ">Make Your Links Manageable with Our URL Shortener <span>W.W.W:https://Urlshortner.com</span></h1>
      <p style="width:70%; color: white;">Shorten long URLs into concise, shareable links in seconds. Our URL shortener simplifies your links, making them easy to remember and share on social media, emails, and more. With a focus on speed and simplicity, our service offers reliable link shortening with analytics to track clicks and engagement. Start shortening your links today for free!</p>

      <a href=""> <button class="btn btn-outline-info mx-2 box" style="color: white;"><b> Get Started</b> </button></a>

      <div class="main-web-icon-d my-5">
        <div class="web-support-icon mx-3" style="display: grid; ">
          <img src="/img/firefox.jpg" class="img-web-icon-round" alt="">
          <h5 style="color: white;">Firefox</h5>
        </div>
        <div class="web-support-icon mx-3">
          <img src="/img/microsoft-web.jpg" class="img-web-icon-round" alt="">
          <h5 style="color: white;">Edge</h5>
        </div>
        <div class="web-support-icon mx-3">
          <img src="/img/download.jpg" class="img-web-icon-round" alt="">
          <h5 style="color: white;">Chrome</h5>
        </div>
        <div class="web-support-icon mx-2">
          <img src="/img/opera.jpg" class="img-web-icon-round" alt="">
          <h5 style="color: white;">Opera</h5>
        </div>
        <div class="web-support-icon mx-3">
          <img src="/img/safarijpg.jpg" class="img-web-icon-round" alt="">
          <h5 style="color: white;">Safari</h5>
        </div>
      </div>
     </div>
     <div style="text-align: right;">
      <img src="/img/img1.png" style="width: 20rem;" alt="">
     </div>
  </div>
</section>


<style>
  .section-2{
    margin-top: 5rem;
    text-align: center;
    justify-content: center;
    width: auto;
    margin-left: 5rem;
  }
  .section2-head-line{
    color: aqua;

  }

  .section2-spn-cs{
     border-radius: 40px;
     border: 2px solid aqua;
     color: aqua;
     padding: 0.5rem 1rem;
     margin: 1rem 0.5rem;
  }

  .section-3{
    margin-top: 5rem;
    text-align: center;
    justify-content: center;
    width: auto;
    margin-left: 5rem;
    margin-right: 5rem;
  }
</style>


<!-- section Number 02 coding here block statement  -->

<section class="section-2 " id="section-3" >
  <div style=" ">


    <!-- benefite description cotetion bracket note heading line of benefite  -->

    <div class="section2-head-line"  style="display: flex;">
      <h3>01. Benefite of this platform  </h3> <span style="height: 2px; padding: 0px; width: 200px; "><b>___________________________</b></span>  
    </div>
    <div class="" style="margin-top: 20px;">
     <p  style="color: white; width: 70%; margin-left: 15%;"> <span><img src="/img/comma1.png" style="width: 50px;" alt=""></span>
      Our platform offers a host of benefits to streamline your marketing efforts. Customize your short URLs to reinforce your brand identity and increase recognition. Gain valuable insights into link performance with detailed analytics, including click counts, geographic data, and referral sources. Use this data to refine your marketing strategies and maximize your ROI.  <span><img src="/img/comma2.png" style="width: 50px;" alt=""></span>
     </p> 
    </div>

    <!-- section 2 benifite 01  -->


    <hr style="color: aqua; width: 95%;">
    <div style="margin-right: 5rem; color: white; display: flex; margin-top: 5rem;">
       <div style="flex: 1;">
        <img src="/img/Dhiraj.jpg"  style ="height: 15rem; width: 70%;  box-shadow:0px 0px 21px 11px #080d6f;" alt="">
       </div>
       <div style="flex:1; text-align: left; ">
        <div style="color: aqua;">
          <h2>Dhiraj mathankar nice</h2>
        </div>
        <div  style="background-color: #060637; padding: 1rem; width: 70%; box-shadow: 0px 0px 21px 6px #0c105d; " class="my-3">
          <p><span><img src="/img/comma1.png" style="width: 30px;" alt=""></span>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt quas, sunt in dolorum excepturi quisquam, illum molestias deserunt neque ipsum sint similique eveniet totam laboriosam qui optio adipisci minus necessitatibus.  <span><img src="/img/comma2.png" style="width: 30px;" alt=""></span>
          </p>
        </div>
        <div>
          <span class="section2-spn-cs">Option1 </span>
          <span class="section2-spn-cs">Option1 </span>
          <span class="section2-spn-cs">Option1 </span>
        </div>
       </div>
    </div>
    <!-- section 2 benifite 02  -->

    <hr style="color: aqua; width: 95%; margin-top: 50px;">
    <div style="margin-right: 5rem; color: white; display: flex; margin-top: 5rem;">
       <div style="flex: 1;">
        <img src="/img/Dhiraj.jpg"  style ="height: 15rem; width: 70%;  box-shadow:0px 0px 21px 11px #080d6f;" alt="">
       </div>
       <div style="flex:1; text-align: left; ">
        <div style="color: aqua;">
          <h2>Dhiraj mathankar nice</h2>
        </div>
        <div  style="background-color: #060637; padding: 1rem; width: 70%; box-shadow: 0px 0px 21px 6px #0c105d; " class="my-3">
          <p><span><img src="/img/comma1.png" style="width: 30px;" alt=""></span>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt quas, sunt in dolorum excepturi quisquam, illum molestias deserunt neque ipsum sint similique eveniet totam laboriosam qui optio adipisci minus necessitatibus.  <span><img src="/img/comma2.png" style="width: 30px;" alt=""></span>
          </p>
        </div>
        <div>
          <span class="section2-spn-cs">Option1 </span>
          <span class="section2-spn-cs">Option1 </span>
          <span class="section2-spn-cs">Option1 </span>
        </div>
       </div>
    </div>

     <!-- section 2 benifite 03  -->

     <hr style="color: aqua; width: 95%; margin-top: 50px;">
     <div style="margin-right: 5rem; color: white; display: flex; margin-top: 5rem;">
        <div style="flex: 1;">
         <img src="/img/Dhiraj.jpg"  style ="height: 15rem; width: 70%;  box-shadow:0px 0px 21px 11px #080d6f;" alt="">
        </div>
        <div style="flex:1; text-align: left; ">
         <div style="color: aqua;">
           <h2>Dhiraj mathankar nice</h2>
         </div>
         <div  style="background-color: #060637; padding: 1rem; width: 70%; box-shadow: 0px 0px 21px 6px #0c105d; " class="my-3">
           <p><span><img src="/img/comma1.png" style="width: 30px;" alt=""></span>
             Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt quas, sunt in dolorum excepturi quisquam, illum molestias deserunt neque ipsum sint similique eveniet totam laboriosam qui optio adipisci minus necessitatibus.  <span><img src="/img/comma2.png" style="width: 30px;" alt=""></span>
           </p>
         </div>
         <div>
           <span class="section2-spn-cs">Option1 </span>
           <span class="section2-spn-cs">Option1 </span>
           <span class="section2-spn-cs">Option1 </span>
         </div>
        </div>
     </div>
  </div>

</section>



<section class="section-3" id="section-3">
  <div class="section2-head-line"  style="display: flex;">
    <h3>02. Benefite of this platform  </h3> <span style="height: 2px; padding: 0px; width: 200px; "><b>___________________________</b></span>  
  </div>
</section>


<style>
   .section-4{
    margin-top: 5rem;
    text-align: center;
    justify-content: center;
    width: auto;
    margin-left: 5rem;
    margin-right: 5rem;
  }

   .scrollBacr-wile{
    overflow-x: scroll;
   }
  .scrollBacr-wile::-webkit-scrollbar{
    display: none;
  }
</style>

<section class="section-4" id="section-4">
  <div class="section2-head-line"  style="display: flex;">
    <h3>03. Customer Testimonials: Hear What Our Users Have to Say!  </h3> <span style="height: 2px; padding: 0px; width: 200px; "><b>___________________________</b></span>  
  </div>
   <div style="" class="scrollBacr-wile">
    <div style="height: 25rem; margin-top: 3rem; display: inline-flex; ">
      <div style="height: 100%; width: 25rem; background-color: rgb(12 25 57); margin: 5px; text-align: left;" class="container">
        <div class="mt-2"> 
          <ul style="list-style: none; display: flex;">
            <li class="mx-1"><i class="fa-solid fa-star" style="color: rgb(255, 153, 0);"></i></li>
            <li class="mx-1"><i class="fa-solid fa-star" style="color: rgb(255, 153, 0);"></i></li>
            <li class="mx-1"><i class="fa-solid fa-star" style="color: rgb(255, 153, 0);"></i></li>
            <li class="mx-1"><i class="fa-solid fa-star" style="color: rgb(255, 153, 0);"></i></li>
            <li class="mx-1"><i class="fa-solid fa-star " style="color: rgb(255, 153, 0);"></i></li>

          </ul>
          <div style="color: white; margin: 1rem 2rem; ">This URL shortener is a game-changer! It's incredibly easy to use, and I love how quickly I can create short links for my content. The customization options are fantastic, allowing me to create branded URLs that fit my brand's style. The analytics dashboard is also a valuable tool for tracking link performance and engagement. Overall, I'm extremely satisfied with this service and would highly recommend it to anyone looking for a reliable URL shortener.</div>

          <div class="" style="display: flex; margin: 1rem 2rem;">
             <div> <img src="/img/dhiraj1.jpg" style="width: 50px; height: 50px; border-radius: 50px;" alt=""></div>
             <div style="color: aqua; align-items: baseline;" class="mx-3"> 
              <h3 style="    padding: 0px;
              margin: 0px;">Dhiraj mathankar</h3>
              <p style="    padding: 0px;
              margin: 0px;">Bussines Developer Esential</p>
            </div>
          </div>
        </div>
      </div>
      <div style="height: 100%; width: 25rem; background-color: rgb(12 25 57); margin: 5px; text-align: left;" class="container">
        <div class="mt-2"> 
          <ul style="list-style: none; display: flex;">
            <li class="mx-1"><i class="fa-solid fa-star" style="color: rgb(255, 153, 0);"></i></li>
            <li class="mx-1"><i class="fa-solid fa-star" style="color: rgb(255, 153, 0);"></i></li>
            <li class="mx-1"><i class="fa-solid fa-star" style="color: rgb(255, 153, 0);"></i></li>
            <li class="mx-1"><i class="fa-solid fa-star" style="color: rgb(255, 153, 0);"></i></li>
            <li class="mx-1"><i class="fa-solid fa-star " style="color: rgb(255, 153, 0);"></i></li>

          </ul>
          <div style="color: white; margin: 1rem 2rem; ">This URL shortener is fantastic! It's so easy to use, and I love how quickly I can generate short links for my content. The customization options are excellent, allowing me to create branded URLs that match my brand's aesthetic. The analytics dashboard is also a great feature, providing valuable insights into my link performance. Overall, I'm extremely satisfied with this service and would highly recommend it to anyone looking for a reliable URL shortener.</div>

          <div class="" style="display: flex; margin: 1rem 2rem;">
             <div> <img src="/img/feedback1.png" style="width: 50px; height: 50px; border-radius: 50px;"  alt=""></div>
             <div style="color: aqua; align-items: baseline;" class="mx-3"> 
              <h3 style="    padding: 0px;
              margin: 0px;">Dhiraj mathankar</h3>
              <p style="    padding: 0px;
              margin: 0px;">Bussines Developer Esential</p>
            </div>
          </div>
        </div>
      </div>
      <div style="height: 100%; width: 25rem; background-color: rgb(12 25 57); margin: 5px; text-align: left;" class="container">
        <div class="mt-2"> 
          <ul style="list-style: none; display: flex;">
            <li class="mx-1"><i class="fa-solid fa-star" style="color: rgb(255, 153, 0);"></i></li>
            <li class="mx-1"><i class="fa-solid fa-star" style="color: rgb(255, 153, 0);"></i></li>
            <li class="mx-1"><i class="fa-solid fa-star" style="color: rgb(255, 153, 0);"></i></li>
            <li class="mx-1"><i class="fa-solid fa-star" style="color: rgb(255, 153, 0);"></i></li>
            <li class="mx-1"><i class="fa-solid fa-star " style="color: rgb(255, 153, 0);"></i></li>

          </ul>
          <div style="color: white; margin: 1rem 2rem; ">This URL shortener has simplified my online sharing experience immensely! The interface is intuitive, making it effortless to generate short links for my content. I appreciate the customization options, allowing me to personalize my links to reflect my brand's identity seamlessly. The analytics dashboard provides valuable insights into the performance of my links, helping me understand my audience better.</div>

          <div class="" style="display: flex; margin-top: 40px !important; margin: 1rem 2rem;">
             <div> <img src="/img/bharati.png" style="width: 50px; border-radius: 50px;" alt=""></div>
             <div style="color: aqua; align-items: baseline;" class="mx-3"> 
              <h3 style="    padding: 0px;
              margin: 0px;">Dhiraj mathankar</h3>
              <p style="    padding: 0px;
              margin: 0px;">Bussines Developer Esential</p>
            </div>
          </div>
        </div>
      </div>
      <div style="height: 100%; width: 25rem; background-color: rgb(12 25 57); margin: 5px; text-align: left;" class="container">
        <div class="mt-2"> 
          <ul style="list-style: none; display: flex;">
            <li class="mx-1"><i class="fa-solid fa-star" style="color: rgb(255, 153, 0);"></i></li>
            <li class="mx-1"><i class="fa-solid fa-star" style="color: rgb(255, 153, 0);"></i></li>
            <li class="mx-1"><i class="fa-solid fa-star" style="color: rgb(255, 153, 0);"></i></li>
            <li class="mx-1"><i class="fa-solid fa-star" style="color: rgb(255, 153, 0);"></i></li>
            <li class="mx-1"><i class="fa-solid fa-star " style="color: rgb(255, 153, 0);"></i></li>

          </ul>
          <div style="color: white; margin: 1rem 2rem; ">This URL shortener is amazing! It's incredibly user-friendly, and I love how quickly I can create short links. The customization options are also fantastic, allowing me to personalize my links to match my brand's style. The analytics dashboard is a great addition, providing valuable insights into my link performance. Overall, I'm extremely satisfied with this service and would highly recommend it to anyone in need of a reliable URL shortener.</div>

          <div class="" style="display: flex; margin: 1rem 2rem;">
             <div> <img src="/img/feedback2.png" style="width: 50px; height: 50px; border-radius: 50px;" alt=""></div>
             <div style="color: aqua; align-items: baseline;" class="mx-3"> 
              <h3 style="    padding: 0px;
              margin: 0px;">Dhiraj mathankar</h3>
              <p style="    padding: 0px;
              margin: 0px;">Bussines Developer Esential</p>
            </div>
          </div>
        </div>
      </div>
      <div style="height: 100%; width: 25rem; background-color: rgb(12 25 57); margin: 5px; text-align: left;" class="container">
        <div class="mt-2"> 
          <ul style="list-style: none; display: flex;">
            <li class="mx-1"><i class="fa-solid fa-star" style="color: rgb(255, 153, 0);"></i></li>
            <li class="mx-1"><i class="fa-solid fa-star" style="color: rgb(255, 153, 0);"></i></li>
            <li class="mx-1"><i class="fa-solid fa-star" style="color: rgb(255, 153, 0);"></i></li>
            <li class="mx-1"><i class="fa-solid fa-star" style="color: rgb(255, 153, 0);"></i></li>
            <li class="mx-1"><i class="fa-solid fa-star " style="color: rgb(255, 153, 0);"></i></li>

          </ul>
          <div style="color: white; margin: 1rem 2rem; ">I recently started using this URL shortener, and I'm already impressed with what it has to offer. The interface is clean and intuitive, making it easy to create short links quickly. The customization options are excellent, allowing me to personalize my links with ease. The analytics dashboard is also a valuable tool, providing insights into my link performance. Overall, I'm very satisfied with this service and would highly recommend it to others.</div>

          <div class="" style="display: flex; margin: 1rem 2rem;">
             <div> <img src="/img/feedback3.png" style="width: 50px; height: 50px; border-radius: 50px;" alt=""></div>
             <div style="color: aqua; align-items: baseline;" class="mx-3"> 
              <h3 style="    padding: 0px;
              margin: 0px;">Dhiraj mathankar</h3>
              <p style="    padding: 0px;
              margin: 0px;">Bussines Developer Esential</p>
            </div>
          </div>
        </div>
      </div>
      <div style="height: 100%; width: 25rem; background-color: rgb(12 25 57); margin: 5px; text-align: left;" class="container">
        <div class="mt-2"> 
          <ul style="list-style: none; display: flex;">
            <li class="mx-1"><i class="fa-solid fa-star" style="color: rgb(255, 153, 0);"></i></li>
            <li class="mx-1"><i class="fa-solid fa-star" style="color: rgb(255, 153, 0);"></i></li>
            <li class="mx-1"><i class="fa-solid fa-star" style="color: rgb(255, 153, 0);"></i></li>
            <li class="mx-1"><i class="fa-solid fa-star" style="color: rgb(255, 153, 0);"></i></li>
            <li class="mx-1"><i class="fa-solid fa-star " style="color: rgb(255, 153, 0);"></i></li>

          </ul>
          <div style="color: white; margin: 1rem 2rem; ">This URL shortener is excellent! It's so easy to use, and I love how quickly I can generate short links. The customization options are also great, allowing me to create branded URLs that match my brand's aesthetic. The analytics dashboard is another standout feature, providing valuable insights into my link performance. Overall, I'm extremely satisfied with this service and would highly recommend it to anyone looking for a reliable URL shortener.</div>

          <div class="" style="display: flex; margin: 1rem 2rem;">
             <div> <img src="/img/feedback4.png" style="width: 50px; height: 50px; border-radius: 50px;" alt=""></div>
             <div style="color: aqua; align-items: baseline;" class="mx-3"> 
              <h3 style="    padding: 0px;
              margin: 0px;">Dhiraj mathankar</h3>
              <p style="    padding: 0px;
              margin: 0px;">Bussines Developer Esential</p>
            </div>
          </div>
        </div>
      </div>
      <div style="height: 100%; width: 25rem; background-color: rgb(12 25 57); margin: 5px; text-align: left;" class="container">
        <div class="mt-2"> 
          <ul style="list-style: none; display: flex;">
            <li class="mx-1"><i class="fa-solid fa-star" style="color: rgb(255, 153, 0);"></i></li>
            <li class="mx-1"><i class="fa-solid fa-star" style="color: rgb(255, 153, 0);"></i></li>
            <li class="mx-1"><i class="fa-solid fa-star" style="color: rgb(255, 153, 0);"></i></li>
            <li class="mx-1"><i class="fa-solid fa-star" style="color: rgb(255, 153, 0);"></i></li>
            <li class="mx-1"><i class="fa-solid fa-star " style="color: rgb(255, 153, 0);"></i></li>

          </ul>
          <div style="color: white; margin: 1rem 2rem; ">I've been using this URL shortener for a while now, and I have to say it's been a lifesaver. The interface is intuitive, and I love how quickly I can generate short links. The customization options are fantastic, allowing me to personalize my links with ease. The analytics dashboard is also a great feature, providing valuable insights into my link performance. Overall, I'm very impressed with this service and would highly recommend it to others.</div>

          <div class="" style="display: flex; margin: 1rem 2rem;">
             <div> <img src="/img/feedback5.png" style="width: 50px; height: 50px; border-radius: 50px;" alt=""></div>
             <div style="color: aqua; align-items: baseline;" class="mx-3"> 
              <h3 style="    padding: 0px;
              margin: 0px;">Dhiraj mathankar</h3>
              <p style="    padding: 0px;
              margin: 0px;">Bussines Developer Esential</p>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
</section>







<section>
  <h1>Hello dhiraj mathankar</h1>
</section>



<section>
  <main style="padding-top: 120px;" class="container">
  
    <div class="container bg-0 p-3  p-3 rounded  " style="color: black; box-shadow:1px 6px 16px 3px black;  border: 1px solid;">
     <div class="row ">
       <div class="col my-auto ">
         <div class="py-5 my-5" >
           <h1><b>Welcome to ShortLinks!</b></h1>
           <h3><strong>our Link, Simplified.</strong></h3>
           <p><strong>Thank you for choosing ShortLinks, your go-to URL shortening service. We're here to make your links shorter, sweeter, and easier to share. Here's what ShortLinks has to offer</strong></p>
           <button class="btn btn-outline-success" type="submit"><b>Generate Url</b></button>
           </div>
       </div>
       <div class="col  text-center">
         <img src="https://servizinazionali.infn.it/wp-content/uploads/2021/02/cuturl.png" style="border-radius: 120px; width: 350px; margin: 50px;" alt="" srcset="">
       </div>
     </div>
    </div>
 </main>
 

</section>
<footer class=" fixed-bottom " style="border: 2px solid black; font-style:bold;  box-shadow:2px 0px 14px 2px black;  border: 1px solid; ">
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>